{% extends 'meson-gxbb-odroidc2.jinja2' %}
{% set connection_command = 'conmux-console lava-baylibre/meson-gxbb-odroidc2' %}
{% set hard_reset_command = '/usr/local/bin/acme-cli -s lab-acme-1 reset 5' %}
{% set power_off_command = '/usr/local/bin/acme-cli -s lab-acme-1 switch_off 5' %}
{% set power_on_command = '/usr/local/bin/acme-cli -s lab-acme-1 switch_on 5' %}
